.body-wrapper
  .left-column
    .left-column-content
      = render 'layouts/comfy/admin/cms/left'
  .right-column
    .right-column-content
      = render 'layouts/comfy/admin/cms/right'
  .center-column
    = render 'layouts/comfy/admin/cms/flash'
    .center-column-content
      = yield
    = render 'layouts/comfy/admin/cms/footer'
